---
layout: layouts/base.njk
title: About
permalink: /about/
---
<article class="article">
  <div class="wrap">
    <h1>Hi I'm Jack, will you come birding with me?</h1>
    <div class="article-body">
      <p>In January of 2019 I was restless. Work, marriage, children, money, staying fit, keeping up with friends, and soon a global pandemic had me looking for ways to quiet the mind. I found birding and quickly fell in love. Birds are a broad and rich subject matter, and tracking and identifying them throughout the world is an incredibly fun challenge. I love that you can participate anywhere, at any moment, with very little upfront investment. For extra fun add in travel, tracking a "Life List," and learning about the over 9,000 species of birds with all of their unique traits and characteristics. It doesn't take long for this hobby to turn into an obsession.</p>
      <p>I wanted to share my excitement for birding with others. ComeBirdingWithMe.com was created so I could document my journey of learning and capture some of those incredible moments in the field. It's also a way for me to practice building a website, post a few pictures, and work on my creative writing. (Send feedback!)</p>
      <p>&mdash; Jack</p>
      <hr class="bio-footer-rule">
      <p class="bio-footer"><em>Jack lives outside of Boston with his wife, 3 kids, and a dog. He is a marketing executive for a razor company, enjoys skiing, gardening, reading philosophy, aspires to own a boat one day, and would really love you to come birding with him.</em></p>
    </div>
  </div>
</article>
